{% schema %}
  {
    "name": "campaigns-liquid",
    "settings": []
  }
{% endschema %}

{% for campaign in shop.metaobjects["campaign"].values %}
  {{ campaign.image_4_3 | img_tag }}
  <h2>{{ campaign.title }}</h2>
{% endfor %}


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
  console.log({{ shop.metaobjects['campaign']['campaign-number-1'] | json }});
{% endjavascript %}