{% schema %}
  {
    "name": "campaigns-liquid",
    "settings": []
  }
{% endschema %}

{% for campaign in shop.metaobjects["campaign"].values %}
  {{ campaign.image_4_3 | image_url: width: 400 | image_tag: height: 300 }}
  <h2>{{ campaign.title }}</h2>
{% endfor %}


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}