{% schema %}
  {
    "name": "campaigns-liquid",
    "settings": []
  }
{% endschema %}

<div class="campaigns">
  {% for campaign in shop.metaobjects["campaign"].values %}
  <div>
    {{ campaign.handle }}
    {{ campaign.image_4_3 | image_url: width: 400 | image_tag: height: 300 }}
    <h2>{{ campaign.title }}</h2>
  </div>
  {% endfor %}
</div>



{% stylesheet %}
  .campaigns {
    display: flex;
    flex-wrap: wrap;
  }

  
  .campaigns div {
    margin: 20px;
  }
{% endstylesheet %}

{% javascript %}
{% endjavascript %}