{% schema %}
  {
    "name": "campaigns-liquid",
    "settings": []
  }
{% endschema %}

  <div><h2>Some stuff here!</h2></div>

{% for campaign in shop.metaobjects.Campaign %}
  {{ campaign.title }}
{% endfor %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}