{% schema %}
  {
    "name": "campaigns-liquid",
    "settings": []
  }
{% endschema %}

  <div><h2>Some stuff here!</h2></div>

{{ shop.metaobjects.campaign }}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}