{% schema %}
  {
    "name": "campaign-liquid",
    "settings": []
  }
{% endschema %}

{{ page.handle }}
{% assign campaign = shop.metaobjects.campaign[page.handle] %}
<h1>{{ campaign.title }}</h1>


<div class="banner">BANNER</div>
<div class="products">
  {% for product in campaign.campaign_products %}
    {{ product | json }}
    {% render 'card-product', card_product: product %}
  {% endfor %}
</div>



{% stylesheet %}
  .products {
    display: flex;
    flex-wrap: wrap;
  }

  
  .products a {
    margin: 20px;
    text-decoration: none;
  }
{% endstylesheet %}

{% javascript %}
{% endjavascript %}