{% schema %}
  {
    "name": "Vendor",
    "settings": []
  }
{% endschema %}

<div class="page-width page-width--narrow section-{{ section.id }}-padding">
MY BEAUTIFUL VENDOR
</div>
{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}