{% comment %}Please refer to vendors.liquid file{% endcomment %}
{% schema %}
  {
    "name": "Vendor",
    "settings": []
  }
{% endschema %}

<div class="page-width page-width--narrow section-{{ section.id }}-padding">
<ul>
{% for vendor in shop.vendors %}
  <li>
    <a href="/collections/{{ vendor }}">{{ vendor }}</a>
  </li>
{% endfor %}
  </ul>

  USER EMAIL: {{  country }}
</div>
{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
