{% schema %}
  {
    "name": "Vendor",
    "settings": []
  }
{% endschema %}

<div class="page-width page-width--narrow section-{{ section.id }}-padding">
{% for vendor in shop.vendors %}
  {{  vendor }}
{% endfor %}
</div>
{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}